*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
}

.container{
    font-family: 'Poppins', sans-serif;
    
}

header{
    
}

#top_site{
    background-image: radial-gradient(circle ,rgb(139,195,245) ,#1294b8);
    padding-bottom:  150px;
}

.intro{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.intro p {
    color: white;
    font-size: 2em;  
    font-family: 'Poppins', sans-serif;
}

.reseaux{
    color: white;
    display: flex;
    flex-direction: row ;
    gap: 20px;
}

ul{
    display: flex;
    flex-direction: row;
    list-style-type:none;
    gap: 40px;
    text-decoration-line: none;    
}

ul a {
    color: white;
    list-style-type:none;
    text-decoration-line: none;  
}

/****************************************   nav   ***************************/

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin : 0 0 0 150px;
}

.left h1{
    font-size: 5em;
}

.left p {
    font-size: 1.5em;
    text-align: justify;
    margin-right: 220px;
    margin-top: 20px;
    line-height: 150%;
    margin-right: 30%; 
}

.right{
    display: flex;
    justify-content: center;
}

.right img {
    width: 800px;
    margin-right: 150px;
    
}
.corp{
    display: flex;
    justify-content:  space-evenly;
    margin-top: 100px; 
}

.mail{
    position: absolute;
    border-radius: 100px;
    width: 30vw;
    height: 5vh;
    padding-left: 25px;
    margin-top: 50px;
    border: none;
    text-decoration: none;
}

.sinscrire{
    border: none; 
    position: relative;
    background-image: radial-gradient(rgb(139,195,245) ,#1294b8);
    border-radius: 100px;
    height: 3.5vh;
    width: 5.5vw;
    margin-left: 465px;
    margin-top: 57px;
    color: white; 
}

.features{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.features h2{
    font-size: 2em;
    margin-top: 3%;
}

.features p {
    margin-top: 2%;
    color: rgb(161, 161, 161);
    font-size: 1.5em;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;

}
/*************************************************Allblock*****************************/
.allblock{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 5%;
    margin-bottom: 15%;
    gap: 2%; 
    padding-top: 5%;
}
.allblock h2 {
    text-align: center;   
    margin-top: 20px;
    color: white;
    font-size:2em;
}

.allblock p{
    color: white;
    font-size: 0.9em;
    text-align: center;
    margin-top: 15px;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1em;
    line-height:150% ;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    
}

/*************************************Block-************************************************/
.block{

    background-image: radial-gradient(circle ,rgb(139,195,245) ,#1294b8);
    width: 400px;
    height: 400px;
    border-radius: 3%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 0.4s;    
}

.Block1_hover i{
    font-size: 70px;
    
}

.block:hover{
    transform:  translateY(-5px);
    box-shadow: rgb(214, 214, 214) 0px 10px 40px 0px;
}


.block i{
    font-size: 70px;
}


.text_under_blocks {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-bottom: 20%;
    background-color: rgb(239, 236, 236);
    
}

/************************************************Text_under_block****************************/
.block_text{  
    font-size: 1.4em;
    margin-top: 10%;
    text-align: center;
}

.block_text p {
    color: rgb(161, 161, 161);
    margin-top: 2%;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}

/******************************************Stats*********************************/

#stats {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10%;
    text-align: center;
    padding-top: 10%;
}

.stats_all h2{
    font-size: 1.9em;
}

.stats_all p{
    color: rgb(161, 161, 161);
}
/**********************************************************Rond_membres********************************************/

#team_block{

    margin-bottom: 200px;
}

#members_top{

    text-align: center;
    padding-top: 8%;
    width: 100%;
}

#members_top h2{
    display: flex;
    justify-content: center;
    font-size: 2.5em;
    line-height: 150%;
    text-align: center;
    margin-left: 32%;
    margin-right: 32%;
}

#members_top p {
    color: rgb(161, 161, 161);
    font-size: 1.2em;
    padding-left: 29%;
    padding-right: 29%;
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

/**********************************************Membres_badges**********************************************/

.membre figure:hover{

overflow: hidden;
filter: grayscale(0%);
transform: scale(1.1);
}

.membre:hover .reseaux_circle{
    
left: 20px;

}

.reseaux_circle{
position: absolute;
top:50px;
left:-40px;
display: flex;
flex-direction: column;
transition: 1s;
text-decoration: none;
gap: 10px;
}

.reseaux_circle i {
    text-decoration: none;
    box-shadow: none;
    color: white;
    background-color: black;
    border-radius: 200px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}
.membre{
    filter: grayscale(100%);
    overflow: hidden; 
    border-radius: 50%;
    margin-bottom: 30px;
}
.reseaux_circle a{
    text-decoration: none;
    box-shadow: none;  
}
.membre:hover{
    filter: grayscale(0%);
}
.membre figure {
    position: relative; 
    width: 200px;
    height: 200px;   
}
.membre figure{
object-fit: cover;
transition: 1.2s;
border-radius: 50%;  
}
#stats img {
    border-radius: 50%;
    width: 200px;
    transition: 0.4s;
    object-fit:  cover;   
}
.stats_all{
    margin-bottom: 50px;
}
.block_membre{
    display: flex;
    flex-direction: column;
}
.reseaux_membre {
    display: flex;
    flex-direction: column;
}
/**************************************************Get_started*************************************************/

.wallpaper{
    background: rgba(0, 0, 0, 0.7) url(img/MicrosoftTeams-image\ \(6\).png);
    min-height: 600px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-blend-mode: darken;
    
}
.wallpaper h2 {
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 1%;
    font-size: 2em;
}

.wallpaper p {
    display: flex;
    justify-content: center;
    color: white;
    margin-left: 10% ;
    margin-right: 10% ;
    text-align: center;

}

.wallpaper button{
    width: 150px;
    height: 50px;
    margin-top: 20px;
    color: white;
    background-color: rgba(255, 255, 255, .0);  
    border-radius: 5px;
    border-color: white;
    font-size: 1em;
    font-weight: bold;
    transition: 0.5s;   
}
.wallpaper button:hover{
    transform:  translateY(-5px);
    background-color: white;
    color: black;
}

/************************************************ OUR BLOG ***************************/

#big_block_blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
    
    padding-top: 4%;
    
}

.all_blocks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    gap: 2%;
    padding-top: 4%;
}

.text_blog a{
    width: 400px;
    color: #1294b8;
    text-decoration: none;
    text-decoration: underline, none;  
}


.blocks_blog img{
    width: 400px;
    margin-top:80px ;
    font-size: 0.9em;
    border-radius: 10px;
    
}

.blocks_blog h2{
    font-size: 1.3em;
}

.blocks_blog p{  
    text-align: justify;
}

.text_top_blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.text_top_blog p{
    text-align: center;
    margin-left: 14%;
    margin-right: 14%;
    margin-top: 3%;
    color: rgb(161, 161, 161);
    
}

.text_blog h2{
    margin-top: 8%;
    font-size: 2.5em;
}

.text_blog p {

    width: 400px;
    margin-top: 3%;
    margin-bottom: 5%;
    padding-right: 50px;
    
}

.text_blog h2{
    width: 400px;
    margin-top: 15px;
}

.photo_text{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.block_blog{

    width: 400px;
    position: relative;
}

.block_blog img{

    width: 100%;
    display: block;
    margin: auto;
    border-radius: 10px;
}

.text_image{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background:  rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    opacity: 0 ;
    transition: 0.5s;
    background-blend-mode: darken;
    border-radius: 10px;
}

.text_image p{
    color: white;
    font-size: 1.4em;
}


.text_image:hover{
    opacity: 1;
    color: black;

}

.icon_text1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 35px;
    padding-top: 30px;
}

.icon_text2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 35px;
}

.icon_text2 p{
    font-size: 1em;
}
.icon_text1 i{

    padding-right: 5px;
}

.icon_text2 i{
    padding-right: 5px;
}

/***********************************Clients*******************************/

#Block_clients{
    background-color: rgb(239, 236, 236);
    width: 100%;
    
    padding-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
 
 }   
.titre_clients {
    text-align: center;
}

.titre_clients h2{
    font-size: 2.5em;
  
}

.titre_clients p{
    color: rgb(161, 161, 161);
    font-size: 1.2em;
    margin-top: 3%;
}

.logo_clients {   
    opacity: calc(50%);
    transition: 1s;
     
}

.logo_clients:hover{
 
    opacity: calc(100%);
}

/*****************************LOGO-CLIENTS********************************/

#clients{
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    flex-wrap: wrap;   
    gap: 8%;
    filter: grayscale(1); 
}

#clients img{
    width: 130px;
      
}

/*************************************Get-started*****************************************/

.wallpaper img{
    width: 100%;   
}

/**************************************************** Section Pricing ( Bottom) ****************************************************/

#top_pricing{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-around;   
}

.pricing_left{
    width: 40%;

}
.text_pricing{
    display: flex;
    flex-direction: column ;

}

.text_pricing p {
    margin-top: 40px;
    margin-right: 250px;
    color: rgb(161, 161, 161);
    
}

.text_pricing h2 {
    margin-top: 40px;
}

.all_stats_pricing{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
      
}

.stats_pricing1{
    display: flex;
    flex-direction: row;
    gap: 100px;
    font-size: 1.5em;
    
}

.stats_pricing2{
    display: flex;
    flex-direction: row;
    gap: 65px;
    color: rgb(161, 161, 161);
    
}

.button_pricing{
    margin-top: 40px;
    background-color: rgb(63,142,253);
    width: 140px;
    height: 40px;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bold;
}

/******Pricing Right****/

.pricing_right{
    width: 40%;
}

.pricing_right img{
    width: 600px;
}

/**********************************Bottom pricing*************/

#bottom_pricing{
    width: 100%;
    height: 1000px;
    background-color: rgb(239, 236, 236);

}

.text_pricing_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

/***************************************************Pricing Offres****************************/

.text_pricing_bottom h2{
    margin-top: 20px;
    font-size: 2.5em;
}

.text_pricing_bottom p{
    margin-right: 650px;
    margin-left: 650px;
    margin-bottom: 100px;
    text-align: center;
    color:  rgb(161, 161, 161); ;
}
.pricing_offre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;  
    width: 100%;
}

.carte_offre{
    width: 330px;
    height: 400px;
    background-color: white;
    border-radius: 8px;
    /* height: 440px; */

}

.titre_carte {
    text-align: center;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    text-align: center;  
}
.corner_right{
    display: flex;
    flex-direction: column;

}
.top_offre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}

.texte_offre{
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-right: 30px;
    line-height: 230%;
     
}
.icone_offre{
    display: flex;
    flex-direction: column;
   
}
.icone_offre a{
    text-decoration: none;
}
.left_offre{
    display: flex;
    flex-direction: row; 
}

.text_donnees{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.signe_dollar p{
    display: flex;
    color: rgb(63,142,253);
    font-size: 1.4em;
}

.chiffre_carte p{
    color: rgb(63,142,253);
    font-size: 3.5em;
}

.month_carte p{
    color: rgb(161, 161, 161);

}

.button_carte button {
    background-color: rgb(63,142,253);
    display: flex;
    width: 280px ;
    height: 40px;
    border-radius: 5px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;   
    border: none;
}
.button_carte{
    display: flex;
    justify-content: center; 
}

/******************************Footer ********************/
footer {
    display: flex;
    flex-direction:  column;
    align-items: center;
    justify-content: space-evenly;
    color: rgb(161, 161, 161);
    background-color: rgb(38, 39, 43);
    
    width: 100%;
}

.reseaux_footer{
 display: flex;
 flex-direction: row;
 gap: 35px;
} 

.reseaux_footer a{
text-decoration : none;
 font-size: 20px;
 border-color: white ;
 border: solid 2px ;
 border-color: white;
 background-color: white;
 border-radius: 50% ;
 display: flex;
 flex-direction: row;
 gap: 35px;
 width: 40px;
 height: 40px;
 display: flex;
 justify-content: center;
 align-items: center;

}

.infos_footer{
    display: flex;
    flex-direction: row;
    gap: 35px;
}

.condition_footer{
    display: flex;
    flex-direction: row;
}

@media(max-width:390px){

    .container{
        width: 100%;
    }

    .corp{


        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }

    .right img{
        width: 300px;
        margin: auto;
    }

    .left{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .left h1{

        font-size: 1.5em;
        text-align: center;
    }

    .features p {
        margin-top: 2%;
        
        font-size: 1em;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 3%;
    }

    
    
    
    .block{
        width: 300px;
        height: 300px;
    
    
    }
    
    .allblock{
    
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    
    }

    
    .block_text p{
        font-size: 1em; 
        padding-left: 10%; 
        padding-right: 10%;  
    }
    
    #members_top h2{
    
        margin-left: 3%;
        margin-right: 3%;
        font-size: 1.2em;
    }
    
    #members_top p{
    
        padding-right: 5%;
        padding-left: 5%;
        
    }
    
    .blocks_glog{
        
    
    }
    
    #big_block_blog{
    
    }
    
    
    #top_pricing{
        display: flex;
        flex-direction: column ;
        
    }
    
    .pricing_left{
        width: 100%;
    }
    
    .pricing_left p{
        width: 100%;
        padding-right: 4%;
        padding-left: 4%;
    }
    
    .pricing_left h2{
        width: 100%;
        padding-right: 1%;
        padding-left: 1%;
    }
    
    .pricing_right{
        
        
    }
    
    .all_stats_pracing{
        display: flex;
        align-items: center;
    }
    
    #top_pricing img{
    
        display: none;
    
    }

    .all_blocks{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
    
    }


